<ul class="sm:flex justify-center items-center gap-10 hidden">
    <li>
        <a class="hover:cursor-pointer hover:text-primary active:text-primary-darker" href="">
            Sign In
        </a>
    </li>
    <li>
        <a class="hover:cursor-pointer hover:text-primary active:text-primary-darker" href="#about">
            About
        </a>
    </li>
    <li>
        <a class="hover:cursor-pointer hover:text-primary active:text-primary-darker" href="#contact">
            Contact
        </a>
    </li>
    <li>
        <a class="hover:cursor-pointer hover:text-primary active:text-primary-darker" href="#FAQ">
            FAQ
        </a>
    </li>
</ul>